In [ ]:
!pip install faker
!pip install pandas
from faker import Faker
fake = Faker()

Requirement already satisfied: faker in /home/luis-pazmino/Documents/Maestria/.venv/lib/python3.12/site-packages (37.1.0)
Requirement already satisfied: tzdata in /home/luis-pazmino/Documents/Maestria/.venv/lib/python3.12/site-packages (from faker) (2025.2)
Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/luis-pazmino/Documents/Maestria/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in /home/luis-pazmino/Documents/Maestria/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/luis-pazmino/Documents/Maestria/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Downloading numpy-2.2.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 10.5 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2

In [5]:
lista = []

In [ ]:
for x in range(0,1000):
    lista.append({'nombre': fake.name(),'apellido': fake.last_name(),'correo': fake.email(),'dirección': fake.address()})

In [39]:
import pandas as pd
data = pd.DataFrame(lista)

In [40]:
import random
n = len(data)
provincias = ['Loja', 'Pichincha', 'Guayas', 'Azuay', 'Manabí']
data['edad']= [random.randint(30, 40) for _ in range(n)]
data['provincias'] = [random.choice(provincias) for _ in range(n)]
data

,nombre,apellido,correo,dirección,edad,provincias
0,Andrew Hernandez,Romero,smiller@example.com,"1353 Wheeler Route\nSouth Kathrynmouth, CT 75501",34,Loja
1,Joe Smith,Bauer,karenprince@example.net,"855 Alyssa Oval Suite 628\nRaymondbury, IN 71230",33,Guayas
2,Chad Harper,Pham,donna91@example.net,Unit 5353 Box 1828\nDPO AP 35542,30,Azuay
3,Daisy Hess,Ruiz,williamsteresa@example.org,65882 Casey Walks Suite 258\nWest Nicholasches...,32,Pichincha
4,Jennifer Randolph,Ray,alexander96@example.net,"5269 Gomez Lock Apt. 603\nEddieland, DC 61967",39,Guayas
...,...,...,...,...,...,...
994,Kristina Wilson,Powers,thomasbauer@example.net,"3256 Laura Cliff\nCollierton, WA 86807",30,Pichincha
995,Joseph Hayes,Taylor,gonzaleskevin@example.net,"752 Nelson Island Suite 983\nCastilloton, NE 8...",39,Loja
996,Carolyn Rodriguez,Cruz,alexandra69@example.net,"57589 Graham Knoll Suite 967\nElizabethberg, S...",36,Pichincha
997,Daniel Gallagher,Davis,pthomas@example.org,"0106 Anderson Dam Suite 172\nStewartborough, N...",31,Azuay
998,Ryan Weaver,Joseph,monica57@example.org,USNS Lawrence\nFPO AE 42242,36,Manabí

In [31]:
data.to_csv("cuaderno1.csv", index=False)